.cell {
  width: 60px;
  height: 60px;
  background: #c0c0c0;
  color: black;
  font-weight: bold;
  border: 3px outset #ececec;
}

.show {
  @extend .cell;
  border: none;
}

.flag {
  color: red;
}

@media only screen and (max-width: 768px) {
  .cell {
    width: calc(90vw / 10);
    height: calc(90vw / 10);
  }
}
