.creation {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
  background: #c0c0c0;
  border: 2px outset #ececec;

  .inputContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;

    label {
      /* should use a class selector */
      font-weight: bold;
    }

    input {
      /* should use a class selector */
      border: 2px outset #ececec;
      padding: 10px;
    }
  }

  .create {
    border: 2px outset #ececec;
    font-weight: bold;
    height: 40px;
    cursor: pointer;
  }
}
